.details-header-sec{
    width: 100%;
    margin-bottom: 50px;
    .song-img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid rgb(248, 248, 248);
        margin-inline-end: 30px;
    }

    .song-title{
        color: white;
        font-size: 1.7rem;
        font-weight: bold;
        cursor: default;
    }

    .song-subtitle{
        color: white;
    }
}