.pause{
    height: 35px;
    width: 35px;
    z-index: 2;
    position: absolute;
    display: none;
top: 50%;
left: 50%;
transform: translate(-50%, -25%);
}

.play{
    height: 35px;
    width: 35px;
    z-index: 2;
    position: absolute;
    display: none;
top: 50%;
left: 50%;
transform: translate(-50%, -25%);

}