.song-bar-sec{
    .play{
        position: static;
        display: block;
        color: white;
        transform: translateX(-50%);
        
    }
    .pause{
        position: static;
        display: block;
        color: white;
        transform: translateX(-50%);
    }
}