.top-charts-sec{
    .main-title{
        color: white;
        font-size: 2.5rem;
        font-weight: bold;
    }
    .songs-sec{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
        margin-top: 3vh;
        gap: 30px;
    }
}