//pages
@import "./pages/discover.scss";

//cmps

@import "./components/loader&error.scss";
@import "./components/songCard.scss";
@import "./components/pausePlay.scss";


//helpers

@import "./helpers.scss";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}