//pages
@import "./pages/discover.scss";

//cmps

@import "./components/loader&error.scss";
@import "./components/songCard.scss";
@import "./components/pausePlay.scss";
@import "./components/sidebar.scss";
@import "./components/topPlay.scss";


//helpers

@import "./helpers.scss";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.copyrights{
    position: relative;
    top: 10px;
    color: white;
    font-size: 11px;
}